body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

.button-container {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.btn {
    padding: 10px 15px 10px 15px;
}

.newP {
    text-align: center;
}